* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid: 270px auto 100px / auto;
  min-height: 100vh;
  background-color: #292929;
  color: #fff;
}

#header {
  display: grid;
  box-shadow: inset 0 -15px 20px -15px #e4612e;
}

.nav-container {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav li {
  list-style: none;
  text-align: center;
}

.nav li a {
  color: #e4612e;
}

.logo-container img {
  border-radius: 50px;
  display: block;
  margin-inline: auto;
}

.landscape-container {
  display: none;
}

.landscape-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}

.home-page h1,
.trailers-page h1,
.library-page h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

.cards-container {
  width: 90%;
  margin: 30px auto;
  display: grid;
  gap: 20px;
}

.cards-container section:first-of-type h2 {
  text-align: center;
}

.cards-container h2,
.trailer-card h2 {
  color: #e4612e;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}

.trailers-page .back-button {
  grid-area: back;
}

.trailers-page .next-button {
  grid-area: next;
}

.trailers-page .back-button,
.trailers-page .next-button {
  width: 200px;
  padding: 0.2em 0.6em;
  font-size: 1.5rem;
  background-color: #e4612e17;
  color: #fff;
  border: 1px solid #faab35;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin-inline: auto;
  margin-bottom: 10px;
}

.trailers-page h1 {
  margin-bottom: 20px;
  grid-area: title;
}

.trailers-container {
  display: grid;
  gap: 20px;
  grid-area: trailers;
}

.trailer-card {
  padding: 0.6em;
}

.trailer-card h2 {
  color: #faab35;
}

.trailer-card iframe {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 170px;
}

.library-page h1 {
  margin-top: 0;
}

.library-cards_container {
  padding: 1em;
  display: grid;
  gap: 15px;
}

.library-page .aside {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.library-page .aside .filter-span {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.anime-card {
  padding: 1em;
  display: grid;
  border: 1px solid #afafaf;
}

.anime-card a {
  display: inline-block;
  width: auto;
  justify-self: start;
  color: #e4612e;
}

.anime-card strong {
  color: #e4612e;
}

.anime-card span:last-of-type {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anime-card .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

.anime-card .image-container img {
  margin-inline: auto;
  display: block;
}

.back-page,
.next-page {
  background-color: #e4612e17;
  color: #fff;
  border: 1px solid #faab35;
  min-height: 30px;
}

.filter-year,
.filter-genre,
.filter-score,
.filter-status {
  min-height: 26px;
  border: none;
  background-color: #000;
  color: #faab35;
}

.yearFilterContainer,
.genreFilterContainer,
.scoreFilterContainer,
.statusFilterContainer {
  display: flex;
  flex-direction: column;
}

.join-page {
  width: 97%;
  margin-inline: auto;
}

.join-page h1 {
  text-align: center;
}

.join-form {
  margin: 30px auto 30px;
}

.join-form fieldset {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.5em 1em;
}

.join-form label {
  display: block;
}

.join-form input,
#animeRec,
#submit {
  width: 100%;
  border: none;
  border-radius: 5px;
  min-height: 48px;
  padding: 0.5em;
  font-size: 1rem;
  margin-bottom: 10px;
}

#submit {
  width: 60%;
  display: block;
  margin: 20px auto;
  background-color: #000;
  color: #e4612e;
}

.thank-you_container {
  width: 97%;
  max-width: 500px;
  margin: 30px auto 0;
}

.thank-you_container h1 {
  margin-bottom: 10px;
  text-align: center;
}

.thank-you_container > p {
  margin-bottom: 15px;
  font-size: 1.3rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.anime-rec {
  border: 1px solid #faab35;
  padding: 0.3em;
  margin-bottom: 30px;
  border-radius: 5px;
  animation: fadeInUp 0.6s ease-out;
}

.anime-rec h2 {
  color: #faab35;
}

.anime-rec img {
  display: block;
  margin: 10px auto;
}

.anime-rec a {
  color: #faab35;
  margin-top: 20px;
  display: inline-block;
  font-size: 1.3rem;
}

.anime-rec p {
  color: #faab35;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.anime-rec p:last-of-type {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.first-p,
.second-p {
  color: #faab35;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(300px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  body {
    grid: 120px auto 100px / auto;
  }

  #header {
    align-items: center;
  }

  .nav-container {
    position: relative;
    padding: 0;
  }

  .nav ul {
    flex-direction: row;
    gap: 100px;
  }

  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav li {
    width: 100px;
  }

  .nav li:nth-child(1) {
    margin-left: auto;
  }

  .nav li:nth-child(2) {
    /* margin-left: auto; */
    margin-right: 30px;
  }

  .nav li:nth-child(3) {
    /* margin-right: auto; */
    margin-left: 30px;
  }

  .nav li:nth-child(4) {
    margin-right: auto;
  }

  .landscape-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .cards-container section:first-of-type {
    grid-column: 1 / 4;
    width: 93.5%;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards-container section {
    margin-inline: auto;
    width: 80%;
    padding: 1.3em;
    box-shadow: inset 0 0 5px #e4612e;
    border-radius: 10px;
  }

  .cards-container h2 {
    margin-bottom: 15px;
  }

  .cards-container p {
    font-size: 1rem;
    line-height: 1.3;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #afafaf;
  }

  .home-page section {
    border: 2px solid #e4612e;
    box-shadow: inset 0 0 10px #000;
  }

  .landscape-container {
    display: block;
  }

  #header,
  #footer {
    background-color: #000;
  }

  .trailers-page {
    grid-template-areas:
      "title title"
      "back next"
      "trailers trailers";
    display: grid;
    gap: 30px;
  }

  .trailers-page h1 {
    margin-bottom: 0;
  }

  .trailers-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto 30px;
  }

  .trailer-card {
    padding: 1em;
    border: 1px solid #e4612e;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000;
    /* background-color: #000; */
  }

  .trailer-card h2 {
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline;
  }

  .trailer-card iframe {
    width: 560px;
    height: 315px;
    display: block;
    margin-inline: auto;
  }

  .trailers-page .back-button {
    margin-inline: 0;
    margin-left: auto;
    margin-bottom: 0;
    border: 1px solid #e4612e;
  }

  .trailers-page .next-button {
    border: 1px solid #e4612e;
    margin-inline: 0;
    margin-bottom: 0;
  }

  .trailers-page .back-button:hover,
  .trailers-page .next-button:hover {
    background-color: #000;
  }

  .library-page {
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 1em 2em;
    gap: 15px;
  }

  .library-cards_container,
  .aside {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #e4612e;
  }

  .library-cards_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .library-cards_container h1 {
    grid-column: 1 / 4;
  }

  .anime-card {
    width: 90%;
    margin-inline: auto;
    border: 1px solid #e4612e;
    background-color: #000;
    border-radius: 5px;
  }

  .anime-card .image-container {
    height: 420px;
  }

  .anime-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 100%;
  }

  .back-page,
  .next-page {
    display: inline;
    padding: 0.7em 0.8em;
    cursor: pointer;
  }

  .back-page:hover,
  .next-page:hover {
    background-color: #000;
  }

  .filter-year,
  .filter-genre,
  .filter-score,
  .filter-status {
    cursor: pointer;
  }

  .join-page {
    width: 50%;
    margin: 30px auto;
    padding: 1em;
    border-radius: 10px;
    background-color: #000;
  }

  .join-form {
    width: 80%;
    max-width: 800px;
    background-color: #292929;
    border-radius: 10px;
    padding: 1em;
  }

  .join-form fieldset {
    padding: 1em 2em;
    border: 1px solid #e4612e;
  }

  .join-form fieldset legend {
    font-size: 1.5rem;
    color: #e4612e;
  }

  .join-form button {
    cursor: pointer;
  }

  .join-form input,
  #animeRec,
  #submit {
    background-color: #000;
    color: #fff;
  }
}

/************************************
************ FOOTER ************
*************************************/

#footer {
  display: flex;
  justify-content: center;
  box-shadow: inset 0 15px 20px -15px #e4612e;
}

.footer-container {
  display: flex;
  align-items: center;
}

.social-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.social-links a {
  color: #fff;
  display: block;
  text-decoration: none;
  color: #faab35;
}

.social-links a img {
  display: block;
  margin-inline: auto;
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 1024px) {
}
