<div class="footer-container">
  <div class="social-links">
    <ul>
      <li>
        <a href="https://www.facebook.com/">
          <img
            src="../images/facebook-icon200.webp"
            alt="Facebook Icon"
          />Facebook
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/">
          <img
            src="../images/instagram-icon200.webp"
            alt="Instagram Icon"
          />Instagram
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/">
          <img src="../images/tiktok-icon200.webp" alt="TikTok Icon" />TikTok
        </a>
      </li>
    </ul>
  </div>
</div>
