<div class="footer-container">
    <div class="social-links">
        <p>Visit us at:</p>
        <ul>
            <li>
                <a href="#">
                    <img src="../images/facebook-icon200.webp" alt="Facebook Icon">
                    <p>Facebook</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/instagram-icon200.webp" alt="Instagram Icon">
                    <p>Instagram</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/tiktok-icon200.webp" alt="TikTok Icon">
                    <p>TikTok</p>
                </a>
            </li>
        </ul>
    </div>
</div>